body{
    border: 1px solid #2fa4e7;
    border-radius: 5px;
    font-family:Arial, sans-serif;
    
}
h4{
    width: 98%;
    margin: 10px;
    border-bottom: 1px solid #2fa4e7;
     padding-bottom: 8px;
}
table{
    
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #dee2e6;
}
.thoi-khoa-bieu-dang-tuan{
    color: #495057;
   
}
.hoc-ki{
    display: flex;
    margin: 10px;
    gap: 5px;
    
}
.chon-ki{
    height:37px;
    padding-right:70px;
    color: #495057;
    border-radius: 5px;
}
.tkb-ca-nhan{
    border-radius: 5px;
    color: #495057;
    padding-right: 65px;
   
}
.bang{
    border:1px solid #2fa4e7;
    border-radius: 5px;
}
.tuan{
    
    margin: 10px;
    display: flex;
}
.lua-chon{
    padding: auto;
    display: flex;
}
.chon-tuan{
    height: 37px;
    padding-right: 250px;
    border-radius: 5px;
    color: #495057;

}

.nut{
    margin: 10px 5px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.in{
    padding: 5px;
    background-color: white;
    width: 50px;
    color: #2fa4e7;
    border: 1px solid #2fa4e7;
    border-radius: 5px;
}
.in:hover{
    background-color: #2fa4e7;
    color: white;
}
.khoi-mau{
    border-radius: 4px;
    width: 30px;
    height: 20px;
}
.bang{
    margin:10px;
}
table{
    border: 1px solid #2fa4e7;
    border-radius: 5px;
}

.tiet{
    margin: 0px 0px 0px 2px;
    padding: 5px;
    width: 4.5%;
    background-color: #2fa4e7;
    color: white;
}

.mon{
    width: 13%;
    background-color: #cfe2ff;
    border: 2px solid #2fa4e7;
    p{
        margin: auto ;
    }
    
}
.gio{
    border-bottom:1px solid #495057;
}